@charset "UTF-8";

/* Paleta de cores 
    Marrom: #3A2218
    Verde:  #99C24D
    Cinza:  
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    background-color: rgba(29,55,151,1);
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    position: relative;   
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.336);

    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: url(../imagens/img-login.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    display: flex;
    align-items: center;
    background-color:rgba(0,11,80,1);
    height: 40px;
    margin: 5px 0px;
    border-radius: 8px;
    padding: 5px;
    box-sizing: border-box;
}

form > div.campo > i {
    color: white;
    font-size: 1.5em;
    flex-shrink: 0;
    padding: 5px;
    width: 40px;
    text-align: center;
}

div.campo > input {
    flex: 1;
    height: 100%;
    border: none;
    border-radius: 8px;
    background-color: #d1cac3;
    padding: 5px;
    outline: none;
    min-width: 0;
}

div.campo > input:focus {
    background-color: white;
}

div.campo > label {
    display: none;
}

form > input[type=submit] {
    background-color: #5B2F0F;
    color: white;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #80583b;
}

form > a.botao {
    display: block;
    background-color: white;
    text-align: center;
    color: #80583b;
    padding: 5px;
    width: 100%;
    height: 40px;
    text-decoration: none;
    border: 1.5px solid #5B2F0F;
    border-radius: 5px;
    margin-top: 5px;
}

form > a.botao:hover {
    background-color: #af876b;
}

form > a > i {
    vertical-align: middle;
}